{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-7">
                <!-- Billing Details -->
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Login form</h3>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="primary-btn order-submit">login</button>
                    </form>
                </div>
                <!-- /Billing Details -->


                <!-- Order notes -->
                <!-- /Order notes -->
            </div>

            <!-- Order Details -->

            <!-- /Order Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
{% endblock %}