{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}}
{% block content %}
<div class="row">
    <!-- Product main img -->
    <div class="col-md-5 col-md-push-2">
        <div id="product-main-img">
            <div class="product-preview">
                <img src="./img/product01.png" alt="">
            </div>

            <div class="product-preview">
                <img src="{{ product.image.url }}" alt="">
            </div>

            <div class="product-preview">
                <img src="{{ product.image.url }}" alt="">
            </div>

            <div class="product-preview">
                <img src="{{ product.image.url }}" alt="">
            </div>
        </div>
    </div>
    <!-- /Product main img -->

    <!-- Product thumb imgs -->
    <div class="col-md-2  col-md-pull-5">
        <div id="product-imgs">
            <div class="product-preview">
                <img src="{{ product.image.url }}" alt="">
            </div>

            <div class="product-preview">
                <img src="{{ product.image.url }}" alt="">
            </div>

            <div class="product-preview">
                <img src="{{ product.image.url }}" alt="">
            </div>

            <div class="product-preview">
                <img src="{{ product.image.url }}" alt="">
            </div>
        </div>
    </div>
    <!-- /Product thumb imgs -->

    <!-- Product details -->
    <div class="col-md-5">
        <div class="product-details">
            <h2 class="product-name">{{ product.name }}</h2>
            <div>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>

            </div>
            <div>
                <h3 class="product-price">{{ prodcut.price }}
                    <!--                    <del class="product-old-price">$990.00</del>-->
                </h3>
                <!--                <span class="product-available">In Stock</span>-->
            </div>
            <p>{{ product.description }}</p>

            <!--            <div class="product-options">-->
            <!--                <label>-->
            <!--                    Size-->
            <!--                    <select class="input-select">-->
            <!--                        <option value="0">X</option>-->
            <!--                    </select>-->
            <!--                </label>-->
            <!--                <label>-->
            <!--                    Color-->
            <!--                    <select class="input-select">-->
            <!--                        <option value="0">Red</option>-->
            <!--                    </select>-->
            <!--                </label>-->
            <!--            </div>-->

            <div class="add-to-cart">
                <div class="qty-label">
                </div>
                <form action="{%  url 'cart:cart-add' product.id %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                </form>

            </div>


            <ul class="product-links">
                <li>Category:</li>
                <li><a href="#">{{ product.category }}</a></li>

            </ul>

            <ul class="product-links">
                <li>Share:</li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul>

        </div>
    </div>
    <hr>

    {% for product in recommender_product %}
    <div class="product">
        <div class="product-img">
            <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt=""></a>

        </div>
        <div class="product-body">
            <p class="product-category">{{ product.category.name }}</p>
            <h3 class="product-name"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
            <h4 class="product-price">{{ product.price }}
                <!-- <del class="product-old-price">$990.00</del>-->
            </h4>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
                        class="tooltipp">add to wishlist</span>
                </button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span
                        class="tooltipp">add to compare</span>
                </button>
                <button class="quick-view"><i class="fa fa-eye"></i><span
                        class="tooltipp">quick view</span></button>
            </div>
        </div>

    </div>
    {% endfor %}

    <hr>
    <!-- /Product details -->

    <!-- Product tab -->
    <!--    <div class="col-md-12">-->
    <!--        <div id="product-tab">-->
    <!--            &lt;!&ndash; product tab nav &ndash;&gt;-->
    <!--            <ul class="tab-nav">-->
    <!--                <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>-->
    <!--                <li><a data-toggle="tab" href="#tab2">Details</a></li>-->
    <!--                <li><a data-toggle="tab" href="#tab3">Reviews (3)</a></li>-->
    <!--            </ul>-->
    <!--            &lt;!&ndash; /product tab nav &ndash;&gt;-->

    <!--            &lt;!&ndash; product tab content &ndash;&gt;-->
    <!--            <div class="tab-content">-->
    <!--                &lt;!&ndash; tab1  &ndash;&gt;-->
    <!--                <div id="tab1" class="tab-pane fade in active">-->
    <!--                    <div class="row">-->
    <!--                        <div class="col-md-12">-->
    <!--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
    <!--                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
    <!--                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure-->
    <!--                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.-->
    <!--                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt-->
    <!--                                mollit anim id est laborum.</p>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; /tab1  &ndash;&gt;-->

    <!--                &lt;!&ndash; tab2  &ndash;&gt;-->
    <!--                <div id="tab2" class="tab-pane fade in">-->
    <!--                    <div class="row">-->
    <!--                        <div class="col-md-12">-->
    <!--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
    <!--                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
    <!--                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure-->
    <!--                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.-->
    <!--                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt-->
    <!--                                mollit anim id est laborum.</p>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; /tab2  &ndash;&gt;-->

    <!--                &lt;!&ndash; tab3  &ndash;&gt;-->
    <!--&lt;!&ndash;                <div id="tab3" class="tab-pane fade in">&ndash;&gt;-->
    <!--&lt;!&ndash;                    <div class="row">&ndash;&gt;-->
    <!--&lt;!&ndash;                        &lt;!&ndash; Rating &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;                        <div class="col-md-3">&ndash;&gt;-->
    <!--&lt;!&ndash;                            <div id="rating">&ndash;&gt;-->
    <!--&lt;!&ndash;                                <div class="rating-avg">&ndash;&gt;-->
    <!--&lt;!&ndash;                                    <span>4.5</span>&ndash;&gt;-->
    <!--&lt;!&ndash;                                    <div class="rating-stars">&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <i class="fa fa-star-o"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                <ul class="rating">&ndash;&gt;-->
    <!--&lt;!&ndash;                                    <li>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <div class="rating-stars">&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <div class="rating-progress">&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <div style="width: 80%;"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <span class="sum">3</span>&ndash;&gt;-->
    <!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
    <!--&lt;!&ndash;                                    <li>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <div class="rating-stars">&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star-o"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <div class="rating-progress">&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <div style="width: 60%;"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <span class="sum">2</span>&ndash;&gt;-->
    <!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
    <!--&lt;!&ndash;                                    <li>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <div class="rating-stars">&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star-o"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star-o"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <div class="rating-progress">&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <div></div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <span class="sum">0</span>&ndash;&gt;-->
    <!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
    <!--&lt;!&ndash;                                    <li>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <div class="rating-stars">&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star-o"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star-o"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star-o"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <div class="rating-progress">&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <div></div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <span class="sum">0</span>&ndash;&gt;-->
    <!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
    <!--&lt;!&ndash;                                    <li>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <div class="rating-stars">&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star-o"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star-o"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star-o"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <i class="fa fa-star-o"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <div class="rating-progress">&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <div></div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <span class="sum">0</span>&ndash;&gt;-->
    <!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
    <!--&lt;!&ndash;                                </ul>&ndash;&gt;-->
    <!--&lt;!&ndash;                            </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                        </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                        &lt;!&ndash; /Rating &ndash;&gt;&ndash;&gt;-->

    <!--&lt;!&ndash;                        &lt;!&ndash; Reviews &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                        <div class="col-md-6">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                            <div id="reviews">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                <ul class="reviews">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                    <li>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                        <div class="review-heading">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                            <h5 class="name">John</h5>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                            <p class="date">27 DEC 2018, 8:0 PM</p>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                            <div class="review-rating">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                <i class="fa fa-star"></i>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                <i class="fa fa-star"></i>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                <i class="fa fa-star"></i>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                <i class="fa fa-star"></i>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                <i class="fa fa-star-o empty"></i>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                            </div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                        </div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                        <div class="review-body">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                tempor incididunt ut labore et dolore magna aliqua</p>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                        </div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                    </li>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                    <li>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                        <div class="review-heading">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                            <h5 class="name">John</h5>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                            <p class="date">27 DEC 2018, 8:0 PM</p>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                            <div class="review-rating">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                <i class="fa fa-star"></i>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                <i class="fa fa-star"></i>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                <i class="fa fa-star"></i>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                <i class="fa fa-star"></i>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                <i class="fa fa-star-o empty"></i>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                            </div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                        </div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                        <div class="review-body">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                tempor incididunt ut labore et dolore magna aliqua</p>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                        </div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                    </li>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                    <li>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                        <div class="review-heading">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                            <h5 class="name">John</h5>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                            <p class="date">27 DEC 2018, 8:0 PM</p>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                            <div class="review-rating">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                <i class="fa fa-star"></i>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                <i class="fa fa-star"></i>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                <i class="fa fa-star"></i>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                <i class="fa fa-star"></i>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                <i class="fa fa-star-o empty"></i>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                            </div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                        </div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                        <div class="review-body">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                                tempor incididunt ut labore et dolore magna aliqua</p>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                        </div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                    </li>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                </ul>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                <ul class="reviews-pagination">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                    <li class="active">1</li>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                    <li><a href="#">2</a></li>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                    <li><a href="#">3</a></li>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                    <li><a href="#">4</a></li>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                                </ul>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                            </div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;                        </div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;                        &lt;!&ndash; /Reviews &ndash;&gt;&ndash;&gt;-->

    <!--&lt;!&ndash;                        &lt;!&ndash; Review Form &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;                   &ndash;&gt;-->
    <!--&lt;!&ndash;                        &lt;!&ndash; /Review Form &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;                    </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                </div>&ndash;&gt;-->
    <!--                &lt;!&ndash; /tab3  &ndash;&gt;-->
    <!--            </div>-->
    <!--            &lt;!&ndash; /product tab content  &ndash;&gt;-->
    <!--        </div>-->
    <!--    </div>-->
    <!-- /product tab -->
</div>

{% endblock %}